@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__figure/lead__figure.css);
@import url(./__image/lead__image.css);
@import url(./__image-caption/lead__image-caption.css);

.lead {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 62px 148px 0px 148px;
    box-sizing: border-box;
    align-items: center;
}

@media screen  and (max-width: 1024px) { 
    .lead {
        margin: 54px 48px 0px 48px;
    }
}
@media screen  and (max-width: 768px) {
    .lead {
        margin: 54px 0px 0px 0px;
    }
}
@media screen and (max-width: 480px) {
    .lead {
        margin-top: 52px;
    }
};