@import url(./__logo/header__logo.css);
@import url(./__lang-list/header__lang-list.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header_lang-link_type_active.css);

.header {
    max-width: 100%;
    margin: 0px 48px 0px 48px;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
}
@media screen  and (max-width: 768px) {
    .header {
        margin: 0px 24px 0px 24px;
    }
}
@media screen and (max-width: 480px) {
    .header {
        margin: 0px 16px 0px 16px;
        padding-top: 16px;
    }
};