.footer__link {
    margin-right: 18px;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 700px) {
    .footer__link {
        margin: 0px;
        font-size: 24px;
        line-height: 24px;
    }
};