.lead__title {
    margin: 0px;
    max-width: 680px;
    color: #fff;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .lead__title {
        font-size: 56px;
        line-height: 64px;
    }
}
@media screen and (max-width: 480px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
     }
};