.lead__subtitle {
    margin: 20px 0px 64px 0px;
    max-width: 540px;
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .lead__subtitle {
        margin: 14px 0px 40px 0px;
        font-size: 16px;
        line-height: 20px;
    }
};