@import url(./__card/place__card.css);
@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__website-url/place__website-url.css);
@import url(./__website-link/place__website-link.css);
@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);

.place {
    color: #fff;
    list-style-type: none;
    padding: 0px;
    margin-top: 95px;
} 